
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/TechnicalServiceRepresentative/Shared/Shared.cshtml";
}



<div class="container" style="margin-top:30px; margin-left:20px;">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome to Technical Servicer's Homepage</h1>
            <div class="col-lg-6">
                <p><h3>Technical Support on:</h3></p>
                <ul>
                    <li>Plan and manage major technology Support Services, including technology support for all administration (Non -campus) locations, remote technical support, Audio/Visual technical support, technology parts and equipment logistics, new technology deployment and replacement projects, professional development for campus support technicians</li>

                    <li>
                        Responsible for Client Support Services technicians being trained to support central staff in documenting remedy incidents when customers encounter technology interruptions in performing their daily district responsibilities
                    </li>
                    <li>
                        Establish Client Support Services procedures, processes, and priorities ensuring district customer incidents and service requests are assigned to the appropriate Information and Technology Services Department for customer technology service resolution within established customer service level agreements
                    </li>
                    <li>
                        meetings with campus leadership, and other district departments relating to computer and network peripheral projects for campuses and departments
                    </li>
                    <li>Keep current with the latest technologies, identify new computer and peripheral solutions that meet campus curriculum and central staff requirements</li>
                    <li>Oversee all vendors assigned projects and approving all vendors invoices</li>
                    <li>Oversee all Technology relocations in District and provide disconnect and reconnect services in a timely manner.</li>
                </ul>

            </div>
            <div class="col-lg-3">
                <div class="col-lg-pull-3">
                    <div class="offset-2">
                        <img style="width:350px; height:200px;" src="~/Content/image/TechnicalSupport_PRUFTECHNIK-Service_Gallery3_1000px-562px.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
