
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/CashierSalesRepresentative/Shared/Shared.cshtml";
    //string[] item = ViewBag.USD;
    //string[] item2 = ViewBag.Euro;
}

    @*<div class="row">

        <h2>USD alış: @item[0]</h2>
        <h2>USD satış: @item[1]</h2>
        <h2>Euro alış: @item2[0]</h2>
        <h2>Euro satış: @item2[1]</h2>
    </div>*@
<div class="container" style="margin-top:30px; margin-left:20px;">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome to Cashier Saler's Homepage</h1>
            <div class="col-lg-6">
                <p><h3>Develop and Achieve Your Sales Vision in Four Steps</h3></p>
                <p><h5>Many sales managers are forced to focus on achieving short-term, day-to-day results. Consequently, they often find it challenging to think like a leader—and also focus on achieving the sales teams' long-term vision. But that is exactly what a sales manager must do to  maximize the performance of the sales team.</h5></p>
                <hr />
                <ul>
                    <li>1.Creating Your Sales Vision <br /> Creating your sales vision means answering the question: Where do you want to be? The answer can focus on goals specific to your company or relative to your competitors. Other considerations can include profitability targets or rewards and recognition for your team. Here’s an example of a sales vision statement: “Be one of the top five districts in sales in the company within the next 12 months.”</li>

                    <li>
                        2. Translating the Sale Vision into Goals <br /> The next step is to pinpoint the broader vision by converting it to one or more goals. The more specific your goal, the easier it will be to communicate to the team—and easier for them to understand, commit to, and work toward. Think of the goal as your objective or final destination. In other words, the goals are what you really need to achieve in order to realize your sales vision. The familiar SMART acronym is a great guide in setting effective goals: Specific, Measureable, Attainable, Relevant, and Time-bound. So if your sales vision is, “Be one of the top five districts in sales in the company within the next 12 months,” a related SMART goal could be to “increase sales volume by 10 percent by June 30.”
                    </li>
                    <li>
                        3. Developing Strategies <br /> The third step in the process is to develop strategies that describe how your team will achieve its goals. For instance, some strategies for your goal to “increase sales volume by 10 percent by June 30,” could be to increase your team’s sales coverage by hiring additional salespeople, run a special sales incentive program for the sales team, or target key accounts to grow existing business. Each of these strategies ties directly back to the goal.
                    </li>
                    <li>
                        4. Identifying Tactics <br />Now that you know where you want to go, what you need to achieve, and how you are going to get there, you need to identify specific action steps—or tactics—to implement each strategy. In other words, what specific steps does the team need to take, who on the team needs to accomplish them, and what are the deadlines?
                        <br />
                    </li>
                </ul>

            </div>
            <div class="col-lg-3">
                <div class="col-lg-pull-3">
                    <div class="offset-2">
                        <img style="width:200px; height:200px;" src="~/Content/image/ezgif.com-webp-to-jpg.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
