
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UnitHead/Shared/Shared.cshtml";
}

<div class="container" style="margin-top:30px; margin-left:20px;">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome to Administor's Homepage</h1>
            <div class="col-lg-6">
                <p><h3>Our Vision and Mission</h3></p>
                <ul>
                    <h5 style="font:italic">Internally</h5> 
                    <li>Guide management’s thinking on strategic issues, especially during times of significant change</li>
                    <li>Help define performance standards</li>
                    <li>Inspire employees to work more productively by providing focus and common goals</li>
                    <li>Guide employee decision making</li>
                    <li>Help establish a framework for ethical behavior</li>
                </ul>
                <ul>
                    <h5 style="font:italic">Externally</h5> 
                    <li>Enlist external support</li>
                    <li>Create closer linkages and better communication with customers, suppliers and alliance partners</li>
                    <li>Serve as a public relations tool</li>
                </ul>
                
            </div>
            <div class="col-lg-3">
                <div class="col-lg-pull-3">
                    <img style="width:200px; height:200px;" src="~/Content/image/mission_vision_core_values.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>





