@model List<Teknoroma.MODEL.Entity.Category>


<div class="form-group row col-sm-4">
    <div class="col-sm-12">
        @*@Html.DropDownListFor("category",Model.Category.Name as Teknoroma.MODEL.Entity.Category,"Select Category",new { @class= "list-group"})
        @Html.DropDownList("AddCategory", ViewBag.Category, new { @class = "form-control" })*@
    </div>
</div>
